---


---

<section class="flex w-2/5 font-space sm:w-3/4">
        <p class="break-words leading-loose text-rose-100 text-xl sm:mx-20">
                Hey there, I'm belviny! I'm a <span>17</span> year old kid based in <span>NYC</span>.
                I have a passion for music. 
                My favorite music genre is KR&B.
                Recently, I’ve grown a knack for <span class="rounded border-2 border-transparent ">coding</span>. 
                I wish to contribute to open source as a web developer. 
                Currently struggling with <span>Astro</span> and <span>Tailwind</span>.
        </p>
</section>