---


---

<section class="flex w-1/2 font-space">
        <p class="break-words text-rose-100 text-lg">
                Hey there, I'm belviny! :] I'm a 17 year old kid based in NYC.
                I have a passion for music. 
                My favorite music genre is krnb.
                Recently, I’ve grown a knack for programming. 
                I wish to contribute to open source as a web developer. 
                Currently struggling with Astro and Tailwind CSS.
        </p>
</section>