---


---

<section class="font-mono text-white">
        <div class="leading-loose">
                <h1 class="text-7xl font-bold ">
                        <section>
                                Kelvin
                                <h4 id="state" class="text-lg font-bold"></h4>
                        </section>
                </h1>
                <p class="break-words text-2xl mt-5 opacity-85">A very lost kid who likes music. <br> Attempting to web dev.</p>
        </div>
</section>