---

import lanyardClient from "../../scripts/lanyardClient.js";

const client = new lanyardClient();
let connection = client.subscribe("675104167345258506");

connection.addEventListener("message", (e) => {
  const data = JSON.parse(e.data)
  
});


---


<section class="text-rose-200 font-space">
        <div class="flex flex-row justify-start items-center">
                <img class="h-32 w-32 rounded-2xl" src="https://cdn.discordapp.com/avatars/675104167345258506/73943fa75d2d5e6363133957161d0433" alt="#">
                <section>
                        <h1 class="font-bold">@belviny</h1>
                        <h4>Offline</h4>
                        <h4>Time</h4>
                </section>
        </div>
</section>