---

const socials = ["Discord", "Spotify", "Github"];

---

<section>

    <div>

            {socials.map((s) => (
                <button class="text-white">{s}</button>
                ))

            }
        
    </div>

</section>