---

const socials = ["Discord", "Spotify", "Github"];

---

<section class="text-rose-200 font-space">
        <div class="flex flex-row justify-start space-x-2">
                {socials.map((social) => (
                    <button>{social}</button>
                    ))

                }
        </div>
</section>