---


---

<script src="https://kit.fontawesome.com/e243a1dc50.js" crossorigin="anonymous"></script>

<section class="flex text-white font-mono">
        <div id="socials" class="flex flex-row justify-start space-x-8 mt-8">
                <a title="discord" href="https://discordapp.com/users/675104167345258506" class="font-bold transition ease-in-out delay-100 hover:text-neutral-500 duration-300"><i class="fa-brands fa-discord fa-xl"></i></a>
                <a title="spotify" href="https://open.spotify.com/user/pusffa9nmcnv6qy7lywq2vifa?si=3ca4bfe8cf2a4cb8" class="font-bold transition ease-in-out delay-100 hover:text-neutral-500 duration-300"><i class="fa-brands fa-spotify fa-xl"></i></a>
                <a title="github" href="https://github.com/belv1ny" class="font-bold transition ease-in-out delay-100 hover:text-neutral-500 duration-300"><i class="fa-brands fa-github fa-xl"></i></a>
        </div>
</section>