---

const socials = ["Discord", "Spotify", "Github"];

---

<section class="text-rose-200 font-space">
        <div>
                {socials.map((s) => (
                    <button >{s}</button>
                    ))

                }
        </div>
</section>