---

const { profilePicture } = Astro.props;

---

<section class="animate-levitate">

        <img class="hidden lg:block h-[460px] w-[460px] rounded-[45px]" src={profilePicture} alt="#">

</section>
