---

const { lanyardProfilePicture } = Astro.props;

---

<section class="animate-levitate">

        <img class="hidden sm:block h-[460px] w-[460px] rounded-[45px]" src={lanyardProfilePicture} alt="#">

</section>
