---

const { lanyardProfilePicture } = Astro.props;

---

<section>
        <div>

                <img class="h-96 w-96 rounded-[45px]" src={lanyardProfilePicture} alt="#">

        </div>
</section>
