---

import Intro from "../molecules/intro.astro";
import Social from "../molecules/socials.astro";
import Presence from "../molecules/presence.astro";
import Icon from "../atoms/icon.astro";
import About from "../molecules/about.astro";

export const prerender = true;

---

<script src="https://kit.fontawesome.com/e243a1dc50.js" crossorigin="anonymous"></script>

<section>
        <div class="flex flex-row justify-between items-center mt-36 mb-24 mx-6 sm:mx-[10px] md:mx-[25px] xl:mx-[35px] 2xl:mx-[500px]">
                <section>
                        <Intro> </Intro>
                        <Social> </Social>
                              
                </section>
                <Icon  lanyardProfilePicture="https://media.tenor.com/iUHKMSbav30AAAAC/aes-pfp.gif"> </Icon>
        </div>

        <div class="flex justify-center mx-6 sm:mx-[10px] md:mx-[20px] xl:mx-[35px] 2xl:mx-[500px] sm:flex-col md:flex-row lg:flex-row xl:flex-row 2xl:flex-row" >
                <Presence> </Presence>
        </div>
</section>

