---

import App from '../components/organisms/app.astro';
import '../global.css';
---

<html lang="en">
		<head>
				<meta charset="utf-8" />
				<meta name="viewport" content="width=device-width" />
				<link rel="preconnect" href="https://fonts.googleapis.com">
				<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
				<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap" rel="stylesheet">
				<title>belvin</title>
		</head>

		<body class="bg-neutral-900 animate-fadein">
			<App>
		</body>
</html>
