---
import Social from "../molecules/socials.astro";


---

<section class="font-mono text-white">
        <div class="flex flex-row space-x-4 font-space">
                        
                <section class="flex flex-col justify-center">
                        <img id="avatar" src="" alt="alt">
                        <Social></Social>
                </section>

                <section class="flex flex-col justify-between">
                        <section class="flex flex-col space-y-3 max-w-md">
                                <h1 id="username" class="font-bold font-agbalumo text-xl">loading</h1>
                                <p class="text-wrap block">hello im kelvin (belvin), i have a passion for coding. since the major is overly saturated. i decided to go cyber security with no knowledge lol</p>
                        </section>
                        
                        <section>
                                <h1>- kelvin was here :3</h1>
                        </section>
                </section>
        </div>
</section>