---
import Social from "../molecules/socials.astro";


---

<section class="font-mono text-white">
        <div class="flex flex-row space-x-4 font-space">
                        
                <section class="flex flex-col justify-center">
                        <img id="avatar" src="" alt="alt">
                        <Social></Social>
                </section>

                <section class="flex flex-col justify-between">
                        <section class="flex flex-col space-y-3 max-w-md">
                                <h1 id="username" class="font-bold text-xl">loading</h1>
                                <p class="text-wrap block">consectetur adipisicing elit. Dolores facere reiciendis placeat quas praesentium nostrum rem a aspernatur quisquam beatae dolorem voluptate iure nemo, illo, mollitia libero tenetur consectetur ad?</p>
                        </section>
                        
                        <section>
                                <h1>- kelvin was here :3</h1>
                        </section>
                </section>
        </div>
</section>