---


---

<section class="font-mono text-white">
        <div class="leading-loose text-2xl md:text-7xl">
                <section class="font-bold">
                        <h1>Kelvin</h1>
                        <h4 id="state" class="text-lg font-bold"></h4>
                </section>
                <p class="break-words text-2xl mt-5 opacity-85">A very lost kid who likes music. <br> Attempting to web dev.</p>
        </div>
</section>