---
import Intro from "../molecules/intro.astro";
import Presence from "../molecules/presence.astro";

export const prerender = true;
---

<script src="https://kit.fontawesome.com/e243a1dc50.js" crossorigin="anonymous"></script>

<section>
        <div class="flex flex-col justify-evenly items-center h-screen grid grid-col-2 gap-x-0">
                <section class="border-2 p-10 self-end">
                        <Intro> </Intro>
                </section>            
                
                <section class="self-start">
                        <Presence> </Presence>
                </section>
        </div>
</section>

